<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Form</title>
    <style>
        body {
            background-image: url('https://i.pinimg.com/1200x/2e/9b/62/2e9b62b6dc81a8556e22edd96affba23.jpg');
            background-size: cover;
            background-position: center;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
        .form-container {
            background: rgba(255, 255, 255, 0.8);
            padding: 30px;
            border-radius: 10px;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
            width: 400px;
            text-align: center;
        }
        input[type="password"] {
            width: 100%;
            padding: 10px;
            margin: 10px 0;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-size: 16px;
        }
        button {
            background-color: #4CAF50;
            color: white;
            padding: 10px 15px;
            border: none;
            border-radius: 5px;
            font-size: 16px;
            cursor: pointer;
        }
        button:hover {
            background-color: #45a049;
        }
        h2 {
            padding:10px;
        }
        .error {
            color: red;
            font-size: 14px;
            display: none;
        }
    </style>
</head>
<body>
    <div class="form-container">
        <h2>Enter new password for your <%= email %> account: </h2>
        <form id="passwordForm" action="/api/users/resetPassword/<%= id %>/<%= token %>" method="post">
            <input type="password" id="password" name="password" placeholder="Enter Password" required>
            <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Confirm Password" required>
            <div class="error" id="error-message">Passwords do not match</div>
            
            <button type="submit">Submit</button>
        </form>
    </div>

    <script>
        document.getElementById('passwordForm').addEventListener('submit', function(event) {
            // Get the password and confirm password values
            const password = document.getElementById('password').value;
            const confirmPassword = document.getElementById('confirmPassword').value;
            
            
            const errorMessage = document.getElementById('error-message');
            
            
            if (password !== confirmPassword) {
                
                errorMessage.style.display = 'block';
                
                
                event.preventDefault();
            } else {
                
                errorMessage.style.display = 'none';
            }
        });
    </script>
</body>
</html>
